@import url('https://fonts.googleapis.com/css2?family=Alexandria&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Alexandria', sans-serif;
}
:root{
    --primary: #20428b;
    --secondary-color: #fac6ca;
    --third-color: #f8c4c9;
    --fourth-color: #fae5e3;
}
.container{
    min-height: 100vh;
    background: var(--secondary-color);
}
.menu{
    display: flex;
    justify-content: space-around;
    padding: 32px 0;
    gap: 150px;
    border-bottom: 1px solid #20428b;
}
.menu img{
    width: 180px;
}
.menu .list{
    align-self: center;
}
.menu .list a{
    margin-right: 48px;
    text-decoration: none;
    color:#20428b;
    font-weight: 600;
    font-family: 'Alexandria', sans-serif;
    font-size: 24px;
}
.menu .list a:last-child{
    margin-right: 0;
}
.proc-title{
    position: relative;
    display: flex;
    justify-content: space-between;
    top: 20px;
    left: 150px;
    border: transparent 50px solid;
}
.proc-title img{
    transform:rotate(30deg);
    width: 40em;
    align-self: center;
}
.span{
    font-size: 100px;
}