.banner{
    height: 850px;
    background: #D3E3FA;
    position: relative;
}
.banner h1{
    position: inherit;
    text-align: center;
    color: #20428B;
    font-weight: 600;
    line-height: 58px;
    font-size: 48px;
    padding: 63px 0 95px 0;
}
.product-lists{
    height: 563px;
    display: flex;
    justify-content: center;
    gap: 36px;
}
.product img{
    width: 415px;
    height: 310px;
}
.product-content{
    width: 415px;
    height: 250px;
    background-color: #FFFFFF;
    margin-top: -4px;
}
.display{
    display: flex;
    justify-content: space-between;
    padding: 16px 19px 21px 19px;
    color: #FAC6CA;
    font-size: 18px;
}
.content{
    margin-left: 17px;
}
.content span{
   color: #20428B;
   font-size: 30px;
   font-weight: 300;
   line-height: 36px;
}
.content p,.content .review{
    color: #212529;
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
}
.content .review{
    color: #FAC6CA;
    margin-top: 37px;
}